.project {
  padding: 0.5rem;
  border: 1px solid var(--color-alt);
  display: flex;
  flex-direction: column;
  position: relative;

  img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
    filter: grayscale(80%);
  }

  span {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-color: white;
    border: 1px solid var(--color-main);
    color: black;
    padding: 0.1rem 0.2rem;
  }

  .links {
    display: flex;
    justify-content: center;
  }

  .icon {
    width: 2rem;
    height: 2rem;

    &:first-child {
      margin-right: 1rem;
    }
  }
}
