:root {
  --color-main: #f3d5ff;
  --color-alt: #d09cff;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: black;
  color: var(--color-main);

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--color-main);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentContainer {
  width: 100%;
  padding: 1rem;
}
