body {
  font-size: 16px;
}

p {
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

h1 {
  font-size: 6em;
  font-family: OCR A Std, monospace;
  color: var(--color-alt);
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

h2 {
  font-size: 2rem;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

h3 {
  font-size: 1.5rem;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

@media only screen and (min-width: 992px) {
  h1 {
    font-size: 8em;
  }
}
